.quiz {
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 16, 16);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 38px;
}

.quiz-2{
    transition: 5s;
    background-color: rgb(209, 194, 255);
}
.quiz-3{
    transition: 5s;
    background-color: rgb(10, 1, 24);
}

.vanga-img{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 350px;
    transition: 4s;
    transform: scale(0);
    filter: grayscale(100%) blur(10px);
    box-shadow: 0px 15px 11px -12px rgb(164, 101, 232); 
}

.vanga-img-anim-1 {
    transform: scale(0.3);
    filter: grayscale(100%) blur(10px);
}
.vanga-img-anim-2 {
    transform: scale(0.5);
    filter: grayscale(90%) blur(5px);
}
.vanga-img-anim-3 {
    transform: scale(0.8);
    filter: grayscale(80%) blur(2px);
}
.vanga-img-anim-4 {
    transform: scale(1);
    filter: grayscale(40%) blur(0.5px);
}
.vanga-img-anim-5 {
    transition: 0.8s;
    transform: scale(0.6);
    filter: grayscale(50%) blur(0.4px);
}
.vanga-img-anim-6 {
    margin-top: -50px;
    transition: 0.8s;
    transform: scale(0.66);
    filter: grayscale(0%) blur(0px);
}

.hr{
    background-color: rgb(63, 0, 104);
    height: 60px;
    width: 100%;
    margin-top: -74px;
    border-bottom: 8px solid rgb(160, 113, 232);
    border-radius: 20px 20px 0px 0px;
    animation-delay: 0.5s;
    animation-name: hr-anim;
    animation-duration: 1.6s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes hr-anim {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.quiz-intro-continue-txt{
    color: white;
}

.arrow{
    width: 70px;
    cursor: pointer;
    filter: grayscale(100%);
    position: absolute;
    transition: 0.5s;
}
.arrow:hover{
    filter: grayscale(0%);
}

.next-arrow{
    right: 50px;
    bottom: 20px;
}
.previous-arrow{
    right: 110px;
    bottom: 20px;
    transform: rotate(-180deg);
}

.last-quiz-intro-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.quizz-intro-next-btn{
    padding: 10px;
    width: 300px;
    font-size: 1.6rem;
    background: none;
    color: rgb(100, 96, 96);
    border: 9px rgb(63, 55, 55);
    border-style:double;
    cursor: pointer;
    transition: 0.3s;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-name: quizz-intro-next-btn-anim;
}
.quizz-intro-next-btn:hover{
    color: rgb(193, 184, 184);
    border: 9px rgb(111, 104, 104);
    border-style:double;
}
@keyframes quizz-intro-next-btn-anim {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.quizz-intro-txt{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    z-index: 20;
    position: relative; 
    text-align: center;
}

.light{
    position: absolute;
    width: 10px;
    height: 10px;
    transform: scale(0);
    border-radius: 10px;
    box-shadow: 0 0px 20px 20px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 18px;
    animation-name: light-anim;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    z-index: -1;
}

@keyframes light-anim {
    0% {
        left: -10%;
        transform: scale(0);
    }
    10% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.4);
    }
    90%{
        transform: scale(1);
    }
    100%{
        left: 100%;
        transform: scale(0);
    }
}






@media screen and (max-width:600px) {
    .quiz {
        display: flex;
        flex-direction: column;
        background-color: rgb(21, 16, 16);
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        gap: 58px;
        overflow: hidden;
    }
    .quiz-2{
        transition: 5s;
        background-color: rgb(209, 194, 255);
    }
    @keyframes light-anim {
        0% {
            left: -10%;
            transform: scale(0);
        }
        10% {
            transform: scale(1.3);
        }
        50%{
            transform: scale(2);
        }
        90%{
            transform: scale(1.3);
        }
        100%{
            left: 100%;
            transform: scale(0);
        }
    }
    .vanga-img{
        width: 300px;
    }

}


@media screen and (max-width:600px) {
    .vanga-img{
        width: 250px;
    }

    .quizz-intro-next-btn{
        padding: 6px;
        width: 200px;
        font-size: 1.9rem;
    }
}

