.answers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.answer-text{
    color: rgb(89, 77, 182);
    font-size: 30px;

    opacity: 0;
    animation-name: answer-show;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 1s;
}

.continue-answer-btn{
    opacity: 0;
    width: 270px;
    height: 60px;
    margin-top: 22px;
    border: 3px solid rgb(18, 0, 48);
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    animation-name: answer-show;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 2s;
}
.continue-answer-btn:hover{
    background-color: black;
    color: white;
}

@keyframes answer-show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.answers-container{
    display: none;
    margin-top: 30px;
    width: 500px;
    height: 400px;
    border: 3px solid white;
    overflow-y: scroll;
    border-radius: 4px;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.answer-container-text{
    color: white;
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width:600px) {
    .answer-text{
        color: rgb(89, 77, 182);
        font-size: 24px;
        text-align: center;
    }
    .continue-answer-btn{
        width: 70vw;
        margin-left: 15vw;
    }

    .answers-container{
        width: 300px;
    }

}