.quiz-questions{
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-name: quiz-questions-anim;
    opacity: 0;
}
@keyframes quiz-questions-anim {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    } 
}

.question-txt{
    font-size: 1.8rem;
    color: rgb(133, 49, 249);
}
.question-raw{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}



